body {
  background: #D2D4F2;
}

.container {
  max-width: 100%;
}

.navbar {
  background-color: #669999;
  font-family: cursive;

}


.jumbotron {
  text-align: center;
  margin-top: 20px;

}

.jumbotron img{
  width: auto;
  height: 400px;
  /*margin-bottom: 20%;*/

}

.card-container {
  background-color: #F8FDB2;
}

.row {
  align-items: center;
}

h1 {
  background-color: blue;
}
