body {
  background: #D2D4F2;
}

.container {
  max-width: 100%;
}

.navbar {
  background-color: #669999;
  font-family: cursive;

}


.jumbotron {
  text-align: center;
  margin-top: 20px;

}

.jumbotron img{
  width: auto;
  height: 400px;
  /*margin-bottom: 20%;*/

}

.row {
  align-items: center;
}

.card-container {
  background-color: #F8FDB2;
}

.card {
  margin: 20px 10px 20px 10px;
}

.card-img{
  height: 300px;
}

.card-title{
  color: #E6F2F0;
  font-family: cursive;
  font-weight: 500;
  font-size: 2em;
  text-align: center;
  background-color: rgba(255,29,142,0.6);
  margin-top: 40%;
}
h1 {
  background-color: blue;
}
